.header{
	width: calc(100% - 80px);
	height: 48px;
	position: absolute;
	top: 0;
	left: 80px;
	z-index: 1000;
	padding: 0 20px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.07);
	color: #fff;
	display: flex;
	align-items: center;
	.rightWrap{
		position: absolute;
		right: 20px;
	}
}