.sidebar{
	width: 80px;
	height: 100%;
	/* background: #3e5fce;
	box-shadow: 4px 0 6px rgba(0,0,0,0.1); */
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	padding-top: 20px;
	a[href~="#/selectFile"]{
		display: flex;
		align-items: center;
		flex-direction: column;
		.addFileIcon{
			width: 38px;
			height: 38px;
			background: #5171e0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin-bottom: 4px;
		}
		.addFileTitle{
			font-size: 14px;
			color: #a8bcff;
		}
	}
}
.sidebarBox{
	width: 100%;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.listItem{
		width: 46px;
		height: 46px;
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		color: #f9f9f9;
		font-size: 12px;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			color: #c5ccd6;
			border-radius: 14px;
			i{
				font-size: 20px;
				color: #0D73F1;
				font-weight: normal;
			}
		}
		&:hover{
			cursor: pointer;
			a{
				background: #2e4aab;
				i{
					color: #fff;
				}
			}
		}

	}
	.isActive{
		cursor: pointer;
		a{
			background: #2e4aab;
			i{
				color: #fff;
			}
		}
	}
}
